In [31]:
import pandas as pd
from sklearn.model_selection import train_test_split
from starter.ml.data import process_data
from sklearn.ensemble import RandomForestClassifier

In [30]:
#!ls

In [41]:
df = pd.read_csv('data/census_clean.csv')
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      32561 non-null  int64
 1   age             32561 non-null  int64
 2   workclass       32561 non-null  object
 3   fnlgt           32561 non-null  int64
 4   education       32561 non-null  object
 5   education-num   32561 non-null  int64
 6   marital-status  32561 non-null  object
 7   occupation      32561 non-null  object
 8   relationship    32561 non-null  object
 9   race            32561 non-null  object
 10  sex             32561 non-null  object
 11  capital-gain    32561 non-null  int64
 12  capital-loss    32561 non-null  int64
 13  hours-per-week  32561 non-null  int64
 14  native-country  32561 non-null  object
 15  salary          32561 non-null  object
dtypes: int64(7), object(9)
memory usage: 4.0+ MB

Index(['Unnamed: 0', 'age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [48]:
a = {' <=50K': 0, ' >50K': 1}
[key for key, value in a.items() if value == 0][0]

' <=50K'

In [40]:
#remove spaces from col names
df.columns = [colname.replace(' ', '') for colname in df.columns]
df.columns

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [36]:
df.info()
df.to_csv('data/census_clean.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlgt           32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
#from ydata_profiling import ProfileReport
#profile = ProfileReport(df, title="Profiling Report")
#profile.to_notebook_iframe()

In [7]:
train, test = train_test_split(df, test_size=0.20, random_state = 0)

In [22]:
test.head(1)

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
22278,27,Private,177119,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,44,United-States,<=50K

In [9]:
categorical_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]
label="salary"
training=True

In [10]:
y = train[label]
X = train.drop([label], axis=1)

In [21]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26048 entries, 15282 to 2732
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             26048 non-null  int64
 1   workclass       26048 non-null  object
 2   fnlgt           26048 non-null  int64
 3   education       26048 non-null  object
 4   education-num   26048 non-null  int64
 5   marital-status  26048 non-null  object
 6   occupation      26048 non-null  object
 7   relationship    26048 non-null  object
 8   race            26048 non-null  object
 9   sex             26048 non-null  object
 10  capital-gain    26048 non-null  int64
 11  capital-loss    26048 non-null  int64
 12  hours-per-week  26048 non-null  int64
 13  native-country  26048 non-null  object
dtypes: int64(6), object(8)
memory usage: 3.0+ MB

In [12]:
X_train, y_train, encoder, lb = process_data(
    train, categorical_features=categorical_features, label="salary", training=True)

/Users/soukaina/miniconda3/envs/chapter3/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [13]:
print(X_train.shape)
print(y_train.shape)

X_train[:1]

(26048, 108)
(26048,)

array([[3.60000e+01, 1.74308e+05, 7.00000e+00, 0.00000e+00, 0.00000e+00,
        4.00000e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 1.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00]])

In [14]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
#rf = RandomForestClassifier()
lr.fit(X_train, y_train)

LogisticRegression()

In [17]:
pred = lr.predict(X_train)

In [18]:
from sklearn.metrics import classification_report, accuracy_score

print(classification_report(y_train, pred))
accuracy_score(y_train, pred)

              precision    recall  f1-score   support

           0       0.81      0.97      0.88     19802
           1       0.72      0.26      0.38      6246

    accuracy                           0.80     26048
   macro avg       0.76      0.61      0.63     26048
weighted avg       0.78      0.80      0.76     26048

0.7981035012285013

In [28]:
a =   [{
    "age": 27,
    "workclass": "Private",
    "fnlgt": 177119,
    "education": "Some-college",
    "education-num": 10,
    "marital-status": "Divorced",
    "occupation": "Adm-clerical",
    "relationship": "Unmarried",
    "race": "White",
    "sex": "Female",
    "capital-gain": 0,
    "capital-loss": 0,
    "native-country": "United-Stated"
  }]

a = pd.DataFrame(a)
a['age'][0]

27